.wrapper{
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
}

.Header{
  height: 8vh;
  width: 100%;
  box-shadow: 0 2px 2px -2px rgb(204, 203, 203);
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  background-color: white;
  z-index: 4;
}
.Header ul{
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Header ul li{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .9rem;
}
.Header ul li:hover{
  border-bottom: 2px solid orange;
  cursor: pointer;
}
.Header ul li a{
  text-decoration: none;
}
.loading_state{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.dev_data{
  height: 92vh;
  top: 8vh;
}
.profile_sec{
  height: 100%;
  position: relative;
  margin-top: 10vh;
}
.repo_sect{
  height:100%;
  width: 100%;
  overflow-y: scroll;
  margin-top: 16vh;
} 

.search_bar{
  height: 4rem;
  padding: 1rem 0;
  position: fixed;
  width: 63.5%;
  right:6.5rem;
  top: 8vh;
  z-index: 3;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 2px -2px rgb(204, 203, 203);
  background-color: white;
}
.search_bar form{
  width: 60%;
}
.search_bar input{
  width: 100%;
  border-radius: 5px;
  height: 2rem;
  border: none;
  box-shadow: 0 0 3px rgb(204, 203, 203);
}
.search_bar input:hover{
  box-shadow: 0 0 5px rgb(204, 203, 203);
}
.search_hidden_button{
  display: none;
}

.repo{
  width: 100%;
  padding-top: 1rem;
  height: 7rem;
  box-shadow: 0 -2px 2px -2px rgb(204, 203, 203);
}
.repo_name button{
  padding: 1px 9px;
  border-radius: 9px;
  text-align: center;
  border: none;
  box-shadow: 0 0 1px rgb(146, 146, 146);
  font-size: 12px
}
.repo_name a {
  text-decoration: none;
}
.repo:hover{
  box-shadow: 0 -4px 4px -4px rgb(204, 203, 203);
}
.repo_desc{
  font-size: .9rem;
}
.additional_info{
  font-size: .9rem;
}

.profile_pic{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}
.profile_pic img{
  height: 12rem;
  width: 12rem;
}